<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 80%;
            margin: auto;
        }

    </style>
</head>

<body>
    <h1>Reset Your Password</h1>
	<p>Dear {{name}},</p>
	<p>We received a request to reset your password. Please use the following OTP (One-Time Password) to reset your password:</p>
    <h2>{{otp}}</h2>
	<p>If you didn't request this, you can safely ignore this email. Your password will not be changed until you confirm the reset.</p>
    <p>This OTP is valid only for <strong> 5 minutes</strong>.</p>
	<p>Thank you,</p>
	<p>Prep NITA</p>
</body>

</html>