<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Update</title>
    <style>
        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 80%;
            margin: auto;
        }

    </style>
</head>

<body>
    <h1>Role Update</h1>
    <p>Dear {{name}},</p>
    <p>Your role has been updated from <strong>{{prev_role}}</strong> to <strong>{{new_role}}</strong>.</p>
    <p>If you believe this change was made in error or have any questions, please contact our support team.</p>
    <p>Thank you!</p>
    <p>Prep NITA</p>
</body>

</html>