<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 80%;
            margin: auto;
        }

    </style>
</head>

<body>
    <h1>Email Verification</h1>
    <p>Dear User,</p>
    <p>Thank you for signing up! Please use the following OTP (One-Time Password) to verify your email address:</p>
    <h2>{{otp}}</h2>
	<p>If you did not sign up for this account, please disregard this email.</p>
    <p>This OTP is valid only for <strong> 5 minutes</strong>.</p>
	<p>Thank you,</p>
	<p>Prep NITA</p>
</body>

</html>