<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Available</title>
    <style>
        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 80%;
            margin: auto;
        }

    </style>
</head>

<body>
    <h1>Feedback Available</h1>
    <p>Dear {{candidateName}},</p>
    <p>We are pleased to inform you that your interviewer, {{interviewerName}}, has provided feedback on your recent interview.</p>
    <p>You can view the feedback on our platform by logging into your account.</p>
    <p>We hope this feedback will be valuable to you as you continue to grow and develop your skills.</p>
    <p>Thank you for using Prep NITA, and we wish you all the best in your future endeavors.</p>
    <p>Best regards,</p>
    <p>Prep NITA</p>
</body>

</html>
