<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Revoked</title>
    <style>
        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 80%;
            margin: auto;
        }

    </style>
</head>

<body>
    <h1>Interview Revoked</h1>
    <p>Dear {{candidateName}},</p>
    <p>We would like to inform you that the interviewer, {{interviewerName}}, has revoked themselves from the scheduled interview. Below are the details of the interview that has been affected:</p>
    <p><strong>Interview Date:</strong> {{interviewDate}}</p>
    <p><strong>Interview Time:</strong> {{interviewTime}}</p>
    <p>Once another interviewer is selected for your interview, we will inform you promptly.</p>
    <p>Thank you for your understanding and patience.</p>
    <p>Best regards,</p>
    <p>Prep NITA</p>
</body>

</html>
