@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

:root {
    /* Color Variables */
    --primary-color: #1f252d;
    --secondary-color: #52b36d;
    --accent-color: #d0916f;
    --element-color: #417a55;
    --helper-color: #4ea8d0;
    --text-color: '#000000'


    /* Font Variables */
    --main-font-family: 'Arial', sans-serif;
    --heading-font-family: 'Roboto', sans-serif;

    /* Spacing Variables */
    --default-padding: 16px;
    --medium-spacing: 8px;
    --small-spacing: 4px;

    /* Border Variables */
    --border-radius: 4px;
    --border-width: 1px;

}

.dark {
    --text-color: #FEFEFA; /* Text color for dark mode */
}



.white-image {
        filter: brightness(0) saturate(100%) invert(35%) sepia(100%) saturate(2000%) hue-rotate(-50deg);
      
  }

  
  /* App.css */
.animate-Enter {
    opacity: 1;
    transition: opacity 0.1s ease-in;
  }
  
  .animate-Leave {
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .modal-actions {
    margin-top: 20px;
  }
  
  .modal-actions button {
    margin: 0 10px;
  }
  
  .disabledButton {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  } 
  

