@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

:root {
    /* Color Variables */
    --primary-color: #1f252d;
    --secondary-color: #52b36d;
    --accent-color: #d0916f;
    --element-color: #417a55;
    --helper-color: #4ea8d0;
    --text-color: '#000000'


    /* Font Variables */
    --main-font-family: 'Arial', sans-serif;
    --heading-font-family: 'Roboto', sans-serif;

    /* Spacing Variables */
    --default-padding: 16px;
    --medium-spacing: 8px;
    --small-spacing: 4px;

    /* Border Variables */
    --border-radius: 4px;
    --border-width: 1px;

}


.dark {
    --text-color: #FEFEFA; /* Text color for dark mode */
}



.white-image {
        filter: brightness(0) saturate(100%) invert(35%) sepia(100%) saturate(2000%) hue-rotate(-50deg);
      
  }

  
  /* App.css */
.animate-Enter {
    opacity: 1;
    transition: opacity 0.1s ease-in;
  }
  
  .animate-Leave {
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .modal-actions {
    margin-top: 20px;
  }
  
  .modal-actions button {
    margin: 0 10px;
  }
  
  .disabledButton {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  } 
  
  /* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 16px;
  aspect-ratio: 1;
  background: #3FB8AF;
  animation:
    l2-1 2s  infinite,
    l2-2 1s infinite ;
}
.loader:after {
  background:#FF3D7F;
  animation-delay: -1s,0s;
}
@keyframes l2-1 {
  0%   {top:0   ;left:0}
  25%  {top:100%;left:0}
  50%  {top:100%;left:100%}
  75%  {top:0   ;left:100%}
  100% {top:0   ;left:0}
}
@keyframes l2-2 {
   40%,50% {transform: rotate(0.25turn) scale(0.5)}
   100%    {transform: rotate(0.5turn) scale(1)}
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.progress-bar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.progress-node {
  display: flex;
  flex-direction: column;
  
}

/* styles.css */

.loader-2-overlay {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.7); */
  z-index: 9998;
}

.loader-2-container {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-2 {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.screenInActive {
  z-index: 9000; /* Ensure it is above other elements */
  pointer-events: none; /* Prevent any mouse interactions */
  user-select: none; /* Prevent text selection and keyboard interactions */
  outline: none; /* Remove any focus outlines */
  opacity: 0.6; /* Make it semi-transparent */
}

